body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #1F2937;
  color: #f9faf8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  height: 40px;
  padding: 5px 150px;
}

.links {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.links a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
  flex: none;
}

.top {
  background-color: #1F2937;
  padding: 100px 150px;
  display: flex;
}

.top .container {
  flex: 1;
}

.top .image {
  background-color: gray;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f9faf8;
  text-align: center;
}

.top .title {
  font-size: 48px;
  color: #f9faf8;
  margin-bottom: 5px;
  font-weight: bolder;
  max-width: 450px;
}

.top .text {
  color: #f9faf8;
  margin-bottom: 10px;
  max-width: 450px;
}

.top button {
  margin: 0;
  padding: 5px 20px;
  color: #f9faf8;
  background-color: #3882f6;
  border: 0;
  border-radius: 5px;
}

.information {
  display: flex;
  flex-direction: column;
}

.information .title {
  color: #1f2937;
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
  padding: 25px;
}

.information .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 0 200px 100px;
}

.information .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 150px;
}

.information .image {
  background-color: white;
  border: 3px solid #3882f6;
  border-radius: 10px;
  height: 150px;
  width: 150px;
}

.quote {
  background-color: #e5e7eb;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote .text {
  max-width: 750px;
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  color: #1f2937;
}

.quote .author {
  align-self: flex-end;
  margin-right: 300px;
  font-weight: bold;
}

.sign-up-container {
  margin: 75px 150px;
  padding: 37.5px 75px;
  background-color: #3882f6;
  border: 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  color:#f9faf8;
}

.sign-up-container .title {
  font-weight: bold;
  font-size: 20px;
}

.sign-up-container .text {
  flex: none;
}

.sign-up-container button {
  margin-left: auto;
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px 25px;
  background-color: #3882f6;
  color: #f9faf8;
  flex: none;
}

.footer {
  background-color: #1F2937;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f9faf8;
  padding: 25px;
}